.back{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 90px;
}



.cal{
    width: 300px;
    height: 500px;
    background-color: rgb(49, 46, 46);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 6px;
    padding: 40px;
    
}
h1{
    font-style: italic;
    text-align: center;
    color: antiquewhite;
}
.in{
    display: flex;
    flex-wrap: wrap;
    font-size: large;
    width: 100%;
    height: 30px;
    padding: 7px;
}
.bt{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.but{
    padding: 4px;
}
.br{
    background-color: orange;
    font-size: 20px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 0px;
}

@media screen and (max-width:770px) {
    .but{
        padding: 2px;
    }
    .bt{
        padding: 2px;
    }
    .br{
        font-size: 10px;
    }
}

.bh{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    justify-content: right;
    margin-left: 144px;
}